@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Edge, Safari */
  ::-webkit-scrollbar {
    width: 6px;
    
  }

  

  ::-webkit-scrollbar-thumb {
    background: rgb(180, 178, 178);
    border-radius: 6px;
  }

 
}
